
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <div>
        Sorry an error has occurred:
    </div>
    <div class="alert alert-danger">
        @Html.Raw(ViewBag.Errors)
    </div>
</body>
</html>